html {
	height: 100%;
	margin: 0;
}

body {
	height: 100%;
	margin: 0;
	background-color: #FBF5EF;
}

.note {
	width: 80%;
	max-width: 600px;
	min-height: calc(100% - 40px);
	margin: 0 auto;
	padding: 20px 10px;
	font-family: "Helvetica Neue", sans-serif;
	line-height: 2em;
	outline: 0;
	background-color: #FFF9F3;
	color: #403E3D;
	letter-spacing: 0.05em;
	font-size: 18px;
	font-weight: 300;
}